.swiper-slide {
    height: auto !important;
}
.slide-wrapper {
    height: 100%;
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background: #F4F4F4 !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active {
    background: #FF9E00 !important;
}